<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Travel App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./src/client/styles/base.css">
    <link rel="stylesheet" href="./src/client/styles/header.css">
    <link rel="stylesheet" href="./src/client/styles/footer.css">
  </head>
  <body>
    <header class="page-header">
      TRAVEL PLANNER
    </header>
    <section>
      <div class="location-image">
        IMAGE
      </div>
      <div class="location-query">
        FORM GOES HERE
      </div>
    </section>
    <footer class="page-footer">
    </footer>
  </body>
</html>
