<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Travel App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/base.css">
  </head>
  <body>
    <main class="container">
    <header class="page-header">
      TRAVEL PLANNER
    </header>
    <section>
      <div class="location-image">
        IMAGE
      </div>
      <div class="location-query">
        FORM GOES HERE
      </div>
    </section>
    <footer class="page-footer">
      FOOTER
    </footer>
    </main>
  </body>
</html>
