<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Travel App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../styles/base.css"> -->
  </head>
  <body>
    <main class="container">
    <header class="header box">
      TRAVEL PLANNER
    </header>
    <section class="app box">
      <div class ="holder dest">
        <label for="location">Where to?</label>
        <input type="text" id="dest" placeholder="Enter destination here">
      </div>
      <div class ="holder depDate">
        <label for="depDate">Departure Date: </label>
        <input type="date" id="depDate" placeholder="Enter departure date here">
      </div>
      <div class ="holder retDate">
        <label for="retDate">Return Date: </label>
        <input type="date" id="retDate" placeholder="Enter return date here">
      </div>
      <div class="holder submit">
        <button id="generate" type = "submit"> Let's go! </button>
      </div>
      <div class ="holder entry">
        <div id = "entryHolder">
        <div id = "picture"></div>
        <div id = "location"></div>
        <div id = "departure"></div>
        <div id = "return"></div>
        <div id = "weather"></div>
        <div id = "highTemp"></div>
        <div id = "lowTemp"></div>
        <div id = "content"></div>
        </div>
      </div>
    </section>
    <footer class="footer box">
    </footer>
    </main>
  </body>
</html>
